@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #111013;
    --color-text: #101012;
    --color-text-light: #666572;
    --color-red: #FF4433;
    --color-purple: #7855FF;
    --color-purple-light: #E8E3FD;
}